<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link to logo library --> 
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
		        	<li><a href="/about/">Publications</a></li>
	        		<li><a href="/CV/">CV</a></li>
	        		<li><a href="/blog/">Blog</a></li>
	    		</ul>
			</nav>
			<div>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer id="footer">
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/maya-s-srikanth/" class="fa fa-linkedin"> </a></li>
	        		<li><a href="https://github.com/mayasrikanth" class="fa fa-github"> </a></li>
			</ul>
				<p>&copy; {{ site.name }} {{ site.time | date: '%Y' }} | All Rights Reserved. </p>
			</footer>
		</body>
	</html>
